<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Images</title>
</head>
<body>
    <h1>Images from Database</h1>
    
    {% if images %}
        <ul>
            {% for image in images %}
                <li>
                    <img src="{{ image.image.url }}" alt="">
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No images available.</p>
    {% endif %}
    
    <a href="{% url 'upload_image' %}">Upload Image</a>
</body>
</html>